html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    margin-left: 40px;
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
 
}

.about-section {
    background-color: black;
    width: 600px;
    height: auto;
    padding: 20px;
    margin: 70px auto;
    border: 2px solid black;
    text-align: center;
    color: white;
    font-weight: bolder;
}
/* 
div.transbox h1 {
    color: black;
}

div.transbox {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

div.transbox p {

    font-weight: bold;
    color: #000000;
} */

.container {
    padding: 0 16px;
    background-color: black;
    color: white;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.second-column {
    
   display: flex;
   justify-content: space-between;
    margin-left: 150px;
   
}

img{
    margin-left: 30px;
 max-width: 90%;
    height: 500px; 
    object-fit: cover;
}




@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}