<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='demo.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">

    <title>Document</title>
</head>

<body>
    <!-- <a href="/dashboard.html" class="button">Back</a> -->
    <a href="/dashboard.html">
        <input type="button" value="Back" class="button-3">
    </a>
    <!-- <input type="button" class="button" value="Complete" id="complete" onclick="completeBook()"> -->
    {% for path in pdf_path %}
    <!-- <p>{{ path[1] }}</p> -->
    <input type="button" class="button-3" value="Complete" id="complete" onclick="completeBook({{path[1]}})">
    <iframe title="Bartosz_Kobylinski_CV"
        src="{{url_for('static', filename = path[0]  )}}#toolbar=0"
        style="width: 100%; height: 65rem;" frameborder="0"></iframe>
        {% endfor %}

    
</body>

</html>