<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shared.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static',filename='app.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>

    <header>
        <div id="page-logo">
            <a href="">BookMania</a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup.html">Signup</a></li>
                <li><a href="/aboutUs.html">About Us</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="signup transbox">
           <h1>Sign-Up here</h1>
            <form class="" action="index.html" method="post" id="signupform" target="{{ url_for('renderLoginTestPage') }}">
                <p>Full Name</p>
                <input type="text" name="user-name" placeholder="Enter Your Name" id="user-nane">
                <p>Email</p>
                <input type="text" name="user_email" placeholder="Enter Email" id="user_email">                  
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username" id="username">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password" id="password">
                <input type="button" value="signup" id="submit-btn-signup" onclick="signup()">
                <a href="/" id="sign-already">Already have an account?Login</a>

            </form>
        </div>
    </main>


</body>